body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: black;
}

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Caveat&family=Poppins:wght@400;700&family=Wallpoet&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


header {
  position: relative;
  background-color: #333;
  padding: 0px 0px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  position: relative;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  top: 10px;
}


nav a:hover {
  color: #ff9900; /* Cor do texto quando o mouse está sobre o link */
}

.links img {
    width: 15px;
    position: relative;
   margin-left: 8px;
   top: -20px;
   left: 950px;
  }

.projetc-container {
    background-color: white;
    max-width: 600px;
    width: 90%;
    border-radius: 5px;
    margin: 0 auto; /* Centraliza o contêiner horizontalmente */
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px; /* Adiciona espaço acima do contêiner */
}

.projetc-container h3 {
    color: #333;
    padding: 10px;
}

.projetc-container p {
    color: #333; /* Cor corrigida para texto dentro do .projetc-container */
}

.project-links {
    background: black;
    opacity: 0.8;
    border-radius: 2px;
    padding: 10px;
    text-align: center; /* Centraliza o texto horizontalmente */
}

.project-links a {
    color: white;
    text-decoration: none;
}

.project-image {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

/* Adicione uma media query para ajustar o layout em telas menores */
@media screen and (max-width: 768px) {
    .projetc-container {
        width: 95%;
    }

    .project-links {
        width: 100%;
        margin-left: -10px;
        margin-top: 10px;
    }

    .project-image {
        margin-top: 10px;
    }
}

/* Tornar o header mais compacto em telas pequenas */
@media screen and (max-width: 600px) {
    header {
      padding: 0;
    }
  
    nav li {
      margin-right: 10px;
    }
  
    nav a {
      position: relative;
      right: 60px;
      font-size: 10px;
      top: 5px;
    }
  
    .links img {
      width: 15px;
      left: 90%;
      top: -13px;
      transform: translateX(-50%);
    }
  }

